@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-0: #3D3733;
  --main-1: #CDBEAA;
  --main-2: #6A645A;
  --main-3: #7C463F;
  --main-4: #876E5F;
  --main-5: #B97961;
  --main-6: #ec8556;
  --main-7: #d44422;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}